<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/home.js}"></script>
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <title>Main</title>
</head>
<body>
<h1>Hello World!</h1>
<input id="isbn" type="text" placeholder="isbn">
<div>
    <input id="title" type="text" placeholder="title">
    <input id="author" type="text" placeholder="author">
    <input id="price" type="text" placeholder="price">
    <div>
        <button onclick="createCatalog();">Catalog POST</button>
    </div>
</div>
<div>
    <button onclick="getCatalog();">Catalog GET</button>
</div>

<div>
    <input id="order_isbn" type="text" placeholder="isbn">
    <input id="quantity" type="text" placeholder="quantity">
    <button onclick="orderBook();">Order Book</button>
</div>

<div id="catalog">
    <table>
        <thead>
        <tr>
            <th>책 번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>가격</th>
        </tr>
        </thead>
        <tbody id="catalogList">
        <!-- Ajax를 통해 게시글 데이터가 여기에 동적으로 추가됨 -->


        </tbody>
    </table>
</div>
</body>
</html>
